<h1>Make a Reservation</h1>

<%= form_for @reservation do |f| %>
	<%= f.label :group_size, "Party Size" %> <%= f.text_field :group_size %>
	<%= f.datetime_select :start %>
	<%= f.collection_select(:restaurant_id, Restaurant.all, :id, :name) %>
	<%= f.submit "Submit" %>
<% end %>
