<%= form_for @restaurant do |f| %>
	<p>
		<%= f.label :name %><br/>
		<%= f.text_field :name %>
	</p>

  <p>
    <%= f.label :bio %><br/>
    <%= f.text_area :bio %>
  </p>

  <p>
    <%= f.label :address %><br/>
    <%= f.text_field :address %>
  </p>

  <p>
    <%= f.label :occupancy %><br/>
    <%= f.text_field :occupancy %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>