<h1>Restautrant: <%= @restaurant.name %> </h1>

<div>
	<p><strong>Restaurant Information:</strong></p>
	<p><%= @restaurant.bio %></p>
</div>
<div>
	<h4>Address</h4>
	<p><%= @restaurant.address %></p>
</div>

<%= link_to "Back to Restaurants", restaurants_path %> | <%= link_to "Make a Reservation" %>